/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
  padding: 0;
  margin: 0;
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}





/****************/
/* JOUW STYLING */
/****************/


/*van studentassistente gekregen*/
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* Header */
header {
	background-color:black;
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}

header img {
	width: 10em;
}


/* Section 1 */

section:nth-of-type(1) {
	width: 100%;
	position: relative;
}

section:nth-of-type(1) article {
	position: absolute;
	width: 100%;
	top: 30%;
	display: flex;
	flex-direction: column;
}

section:nth-of-type(1) article h2{
	color:rgb(197, 5, 5);
	text-align: center;
	font-size: 2em;
	margin-bottom: 2.8em;
}

section:nth-of-type(1) article p{
	color:#ffffff;
	text-align: center;
	font-size: 1.2em;
	margin-bottom: 2.5em;
	margin-left: 3em;
	margin-right: 3em;
}

section:nth-of-type(1) article a{
	background-color: green;
	color: #ffffff;
	border-radius: 2em;
	border: none;	
	font-size: 1em;
	padding: 1em 2em 1em 2em;
	width: 40%;
	margin: 0 auto;
	margin-bottom: 3em;
	text-align: center;
	text-decoration: none;
}

section:nth-of-type(1) img {
	width: 100%;
	padding: 10em 0 0 0;
}



/* Section 2 */

.club {
	width: 100%;
	position: absolute;
}

.club article {
	position: absolute;
	width: 100%;
	top: 30%;
	z-index: 10;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.club p {
	text-align: center;
	position: absolute;
	color: white;
	margin-top: 13em;
	margin-left: 3em;
	margin-right: 3em;
}

.club h2 {
	text-align: center;
	position: absolute;	
	color:rgb(183, 25, 25);
	font-size: 4em;
	margin-top: 1em;
}

.club a {
	background-color: rgb(127, 127, 127);
	color: #ffffff;
	border-radius: 2em;
	border: none;	
	font-size: 1em;
	padding: 1em 2em 1em 2em;
	width: 50%;
	text-align: center;
	text-decoration: none;
}

.club a:nth-of-type(1) {
	position: absolute;
	margin-top: 20em;
}

.club a:nth-of-type(2) {
	position: absolute;
	margin-top: 25em;
}

.club a:nth-of-type(3) {
	position: absolute;
	margin-top: 30em;
}

.club a:nth-of-type(4) {
	position: absolute;
	margin-top: 35em;
}

.club video {
	width: 120%;
	height: 90vh; 
	object-fit: cover;
}


footer {
	background-color: black;
	/* margin top moet nog gefixt worden */
	margin-top: 44em;
	color: #ffffff;
}

